/*css index*/

body {
    background-color: black;
    color: white;
    font-family: 'Niramit', sans-serif;
    width: 100%;
    min-height: 100vh;
    
    

}

h1 {
    font-family: 'Gasoek one', sans-serif;
    text-align: center;
    font-size: 50px;
}

hr {
    height: 1px;
    border: 0;
    color: black;
    background-color: black;
}

#logo {

    margin: 20px 0;
    vertical-align: middle;
    display: inline-block;
    width: 5%;
    position: relative;
    right: 80px;
    top: 0px;
}


header {
    background-color: rgb(247, 238, 220);
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 30px;
}

#header {
    color: rgb(111, 5, 5);
    text-decoration: none;
    margin: 45px;
}

#header:hover {
    text-decoration: underline;
}

#celIndex{
    font-size: 60px;
}

#name {
    font-family: 'Gasoek one', sans-serif;
    text-align: center;
    background-color: rgb(247, 238, 220);
    color: black;
    height: 300px;
    padding-top: 1px;
}

#heaserDev{
    font-size: 40px;
}


/*------footer------*/
footer {
    background-color: white;
    color: black;
    margin-top: 500px;
    bottom: 20px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    height: auto;

}

/*-------Carousel-------*/

img {

    position: relative;
    width: 800px;
}

.swiper {
    margin-top: 150px;
    width: 700px;
    height: 550px;
    border-radius: 10px;

}

.swiper-button-prev {
    /*gauche*/
    background-color: rgb(139, 1, 1);
    border-radius: 90px;
    width: 55px !important;
    height: 55px !important;
    top: 500px !important;
    left: 285px !important;
    color: white !important;
}


.swiper-button-next {
    /*droite*/
    background-color: rgb(139, 1, 1);
    border-radius: 90px;
    width: 55px !important;
    height: 55px !important;
    top: 500px !important;
    right: 220px !important;
    color: white !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}


/*-----------*/

#icone {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(247, 238, 220);
    border-radius: 15px;
    padding: 20px;
    width: 50px;
}

#mail-icone {
    width: 70px;
    background-color: rgb(247, 238, 220);
    border-radius: 15px;
    padding: 20px;
}

/*---boutons projets---*/
.swip-projets {
    background-color: rgb(139, 1, 1);
    color: white;
    border-style: groove;
    border-color: transparent;
    width: 180px;
    margin: 60px;
    padding: 10px 20px;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 16px;
}

.swip-projets:hover {
    background-color: transparent;
    color: rgb(139, 1, 1);
    border-style: groove;
    border-color: rgb(139, 1, 1);
    width: 180px;
    margin: 60px;
    flex-direction: column;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/*---------------*/

.gal {
    text-decoration: none;
    color: white;
}

.gal:hover {
    text-decoration: none;
    color: rgb(139, 1, 1);
}

