body {
    background-color: whitesmoke;
    color: black;
}

h1 {
    font-family: 'Gasoek one', sans-serif;
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Niramit', sans-serif;
}

p {
    font-family: 'Niramit', sans-serif;
}

footer {
    background-color: white;
    color: black;
    margin-top: 500px;
    bottom: 20px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    width: auto;
    height: auto;
}

#return {
    background-color: rgb(247, 238, 220);
    color: black;
    border-style: groove;
    border-radius: 30px;
    border-color: transparent;
    width: 81px;
    text-decoration: none;
    margin: 10px;
    font-family: 'Niramit', sans-serif;
}

#return:hover {
    background-color: transparent;
    border-style: groove;
    border-radius: 30px;
    border-color: black;
}

#container {
    border-style: groove;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    margin: 30px;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

#cvButton, #contactez, #return {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border-color: transparent;
    text-align: center;
}

#cvButton:hover, #contactez:hover, #return:hover {
    background-color: transparent;
    color: black;
    border-radius: 20px;
    padding: 10px;
    border-color: black;
}

#contactez {
    margin-top: 10px;
}


#icone, #mail {
    background-color: rgb(247, 238, 220);
    border-radius: 15px;
    padding: 20px;
}

#icone {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    width: 50px;
}

#mail {
    width: 70px;
}

.mail, #tel, #linke {
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: black;
    width: 400px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
}

#texte {
    letter-spacing: 5px;
    opacity: 0.33;
    font-size: 40px;
}

#cadre {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 20px;
    margin: 80px;
    align-items: center;
}

#gal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
    border: 1px solid beige;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#galerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    border-bottom: 1px solid #ddd;
}

#legende {
    font-size: 16px;
    padding: 10px;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    color: black;
    text-decoration: none;
}

#img-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

button {
    background-color: transparent;
    border: none;
}

#gal:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    #gal {
        width: 100%;
    }
}
